%p#notice= notice

%p
  %b Customer name:
  = @order.customer_name
%p
  %b Customer email:
  = @order.customer_email
%p
  %b Description:
  = @order.description
%p
  %b Price:
  = @order.price
%p
  %b Estimated completion date:
  = @order.estimated_completion_date
%p
  %b Paid on:
  = @order.paid_on

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
